<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reforestacion.css">
    <title>Carbono Neutro y Compensación de Huella de Carbono</title>
    
</head>
<body>
    <div class="main-section">
        <h1>Carbono Neutro y Compensación de Huella de Carbono</h1>
        
        <h4> ¡Bienvenido a <span class="highlight">Nativa Verde</span>! Donde transformamos la huella de carbono en oportunidades para un futuro más sostenible. Descubre cómo puedes hacer que tu vida, tu empresa o tus proyectos sean <span class="highlight">Carbono Neutro</span> y contribuir al bienestar del planeta.</h4>

        <h4>Imagina un mundo donde cada acción que tomamos para prosperar está equilibrada por medidas que ayudan a absorber el carbono emitido. En <span class="highlight">EcoCompensa</span>, nos enfocamos en la <span class="highlight">Compensación de Huella de Carbono</span> como una estrategia para contrarrestar las emisiones y preservar la salud de nuestro ambiente.</h4>
        
        <h4>Cada individuo y entidad tiene la capacidad de ser <span class="highlight">Carbono Neutro</span>. Desde la implementación de prácticas ecoamigables hasta la inversión en proyectos de energías renovables, te guiamos en el camino hacia la neutralidad de carbono, permitiéndote tomar medidas significativas contra el cambio climático.</h4>
        
        <h4>En <span class="highlight">EcoCompensa</span>, creemos que la compensación de huella de carbono no solo es una responsabilidad, sino también una oportunidad para impulsar proyectos de impacto positivo. Participa en nuestra misión de hacer que cada actividad sea sostenible, creando un mundo donde nuestras acciones presentes beneficien a las generaciones futuras.</h4>
        
        <h4>Únete a nosotros y descubre cómo la <span class="highlight">Compensación de Huella de Carbono</span> puede convertirse en una poderosa herramienta para contribuir a un mundo más equilibrado y sostenible. En <span class="highlight">EcoCompensa</span>, estamos liderando el camino hacia un futuro donde cada paso cuenta para la salud de nuestro planeta.</h4>
    </div>

    <footer>
        &copy; 2024 EcoCompensa | Todos los derechos reservados
    </footer>
</body>
</html>
