<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reforestacion.css">
    <title>Manejo de Residuos</title>

</head>

<body>
    <div class="main-section">
        <h1>Manejo de Residuos</h1>

        <h4> ¡Bienvenido a <span class="highlight">Nativa Verde</span>! Donde nos dedicamos a la preservación y
            conservación de nuestros bosques. Cada árbol es un tesoro que merece ser protegido, y en <span
                class="highlight">EcoÁrboles</span>, estamos comprometidos con esta noble causa.</h4>

        <h4>En nuestra misión por preservar y restaurar los ecosistemas forestales, reconocemos la importancia de un
            manejo responsable de residuos. Cada acción cuenta en el cuidado del medio ambiente, y la gestión adecuada
            de los desechos es fundamental para mantener la salud de nuestros bosques y promover la biodiversidad..</h4>

        <h4>Para lograrlo, implementamos las siguientes estrategias:

            Reducción de residuos: Priorizamos la reducción en la fuente, evitando el uso de materiales desechables
            siempre que sea posible. Optamos por productos y embalajes ecoamigables y promovemos el uso de recipientes
            reutilizables en nuestras actividades..</h4>

        <h4>Compostaje: Valorizamos la materia orgánica mediante el compostaje, convirtiéndola en un recurso beneficioso
            para la fertilización del suelo. Recolectamos restos vegetales y otros desechos orgánicos para su
            transformación en abono natural, promoviendo así la salud del sustrato y el crecimiento de nuestras
            plantas..</h4>

        <h4>Educación y sensibilización: Concientizamos a nuestra comunidad sobre la importancia del manejo adecuado de
            residuos y brindamos información sobre prácticas sustentables. Organizamos talleres, charlas y actividades
            educativas para promover hábitos responsables entre nuestros voluntarios, colaboradores y la sociedad en
            general..</h4>
    </div>

    <footer>
        &copy; 2024 EcoÁrboles | Todos los derechos reservados
    </footer>
</body>

</html>